*{
    font-size: x-large;
    text-decoration: none;
}

body{
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: #fff8ea;
    width: 60%;

    gap: 20px;
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(178, 2, 2)
}

.imagen{
    border-radius: 10px;
    box-shadow: 0 0 10px #b6a789;
    margin: 20px;
    width: 100%;
}

.subtitulo{
    color: rgb(178, 48, 70);
}

hr{
    width: 80%;
    background: pink;
    border: none;
    height: 2px;
}

h1,h2,h3{
    font-size: xx-large;
}

ul,ol{
    background: white;
    width: 80%;
}

li{
    margin: 15px;
}